#root {
    margin: 0;
    padding: 0;
}

.main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    min-width: 100dvw;
}